body {
	background-color: #2e2d39;
}

.preloader {
	transition: 0.2s ease-in-out;
	background-color: hsla(245, 12%, 20%, 0.6);
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	padding-bottom: 2vw;
	pointer-events: none;
	opacity: 0;
	z-index: 9;

	&.active {
		pointer-events: all;
		opacity: 1;
	}
}

.nav-link {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.list-group-item {
	.leading-icon {
		position: absolute;
		left: -0.18rem;
	}
}

.mbtn {
	width: 40px;
	height: 40px;
	padding: 5px 5px 8.5px;
}
